@import "variables";
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	font-family: $primary-font;
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

section{
	.header{
		font-family: $secondary-font;
		span{
			color: $primary-color;
		}
	}
}

label {
  font-family: $primary-font;
}

section.content {
  padding: 1rem 0;
  &:nth-child(2n) {
    background-color: #e9f0f5;
    width: 100%;
    max-width: 100%;
  }
}

.row.header {
  position: relative;
  margin-bottom: 2rem;
}

.header {
  &::before {
    content: "L" !important;
    font-family: sans-serif;
    font-size: 120px;
    position: absolute;
    top: -100%;
    left: 36%;
    color: $primary-color;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  &::after {
    content: "L" !important;
    font-family: sans-serif;
    font-size: 120px;
    position: absolute;
    bottom: -100%;
    right: 36%;
    color: $primary-color;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.section-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  span {
    color: rgb(44, 130, 201);
  }
}

.section-subheader {
  text-align: center;
  font-family: $secondary-font;
  color: grey;
}

.my-quote {
  font-family: $secondary-font;
  font-size: 2rem;
  text-align: center;
}

.avatar {
  border-radius: 50%;
}

.social {
  text-align: center;
  a {
    display: inline-block;
    font-size: 2rem;
    margin: 0 5px;
  }
}

#about {
  text-align: center;
}
#education {
  text-align: center;
  .fa {
    font-size: 1rem;
    color: $primary-color;
  }
}

a:hover {
  color: $primary-color;
}

.button.download {
  background-color: $primary-color;
}

@media only screen and (max-width: 768px) {
  .header {
    &:before, &:after {
      content: "|" !important;
      transform: rotate(180deg);
      top: -10%;
      bottom: 0;
      font-size: 60px;
    }
    &:before {
      left: 15%;
    }
    &:after {
      right: 15%;
    }
  }
}

input[type="email"] {
  border-radius: 0px;
  box-shadow: none;
  border-color: #DEDEDE;
  font-size: 14px;
  padding: 10px 16px;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
}

textarea {
  border-radius: 0px;
  box-shadow: none;
  border-color: #DEDEDE;
  font-size: 14px;
  padding: 10px 16px;
  color: #555;
  vertical-align: middle;
  background-color: #FFF;
  min-height: 200px;
}

input[type="submit"] {
  background-color: $primary-color;
}

h1 a {
  font-family: $primary-font;
  color: $primary-color;
  padding-bottom: 2px;
  &:hover {
    border-bottom: 4px solid $primary-color;
  }
}

.desktop-menu a:hover {
  border-bottom: 4px solid $primary-color;
}
#back-to-top{
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-color: black;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	outline:none;
	a{
		outline: none;
	}
	i{
		font-size: 40px;
		outline:none;
		text-align: center;
		margin: auto;
		padding: 0 12px;
		color: $primary-color;
		&:hover{
			color: white;
		}
	}
}
@import "time_line";

@media only screen and (min-width: 360px) and (max-width: 1170px) {
  .cd-timeline-img img {
    width: 40px;
    height: 40px;
    left: 30%;
    top: 30%;
  }
	.row{
		p, label{
			padding: 0 5px;
		}
		input, textarea{
			margin: 5px;
		}
	}
}
